
.main1{
    width: 99%;
    height: 2rem;
    display: grid;
    grid-auto-flow: column;
    margin-top: 0rem;
   
    position: fixed;
    padding-bottom: 1rem;
    padding-top: 0rem;
    z-index: 10;
    background-color: rgb(112, 172, 225);
    
}
.main2{
     width: 100%;
    height: 2rem;
    display: grid;
    grid-auto-flow: column;
    margin-top: 0rem;
   
    position: fixed;
    padding-bottom: 1rem;
    padding-top: 0rem;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    
}
.log{
  color: rgb(255, 255, 255);
  padding-left: 10px;
  
}
.log1{
  color: rgb(112, 172, 225);
  padding-left: 10px;
}

.heading{
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 10px;
  color: rgb(255, 255, 255);
 
}
.port{
    display: flex;
    justify-content: start;
    z-index: 10;
    font-size: 20px;
    margin-top: 0rem;
   
    align-items: center;
}
.link{
      grid-auto-flow: column;  
}
ul{
  list-style: none;
  position: absolute;
  right: 5%;
}
.link ul li{
  margin-left: 80px;
  margin-right: 80px;
}


.link ul{
    z-index: 0;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content:space-around ;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 2rem;
}
.navigation{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montesserat';
    margin-bottom: 1rem;
}
.navigation1{
  text-decoration: none;
  color: rgb(112, 172, 225);
  font-size: 20px;
  font-family: 'Montesserat';
  margin-bottom: 1rem;
}

.hamburger{
  right: 6%;
  size: 30px;
  color: aqua;
  z-index: 12;
}
.menu{
  display: flex;
  margin-right: 500px;
}



 

@media (max-width:1100px){
  .main{
    height: 1rem;
  }

   .navigation{
    display: none;
  }
  .navigation1{
    display: none;
  }
 
  .log{
    color: rgb(255, 255, 255);
    padding-left: 10px;
    
  }
  .log1{
    color: rgb(112, 172, 225);
    padding-left: 10px;
  }
  
  .hamburger{
    size: 30px;
  color: aqua;
  
  }
}
    
