.card {
    display: grid;
    grid-gap: 20px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(65, 194, 223);
    border-radius: 10px;
    overflow: hidden;
    height: 450px;
    margin-top: 30px;
    box-shadow: 1rem 0rem 1rem 0rem rgb(219, 231, 234);
    margin-bottom: 200px;
    }
    
    .card img {
    width: 70%;
   
    
    }
    .card-image{
        padding-top: 30px;
       padding-left: 52.5px;
       padding-right: 52.5px;
        
        height: 200px;
    }
    
    .card-content {
    padding: 20px;
    text-align: center;
    }
    .desc{
        margin-top: 15px;
    }
    .card-content h3 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;;
    color: rgb(112, 220, 239);
    }
    
    .card-content p {
    
    font-size: 20px;
    color: #666;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    a{
        color: wheat;
        font-size: 15px;
        text-decoration: none;
        
    }
    .mapped{
        padding-top: 30px;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        grid-gap:40px;
        grid-column: 1/3;
    }
    .hed{
        display: grid;
        grid-auto-flow: row;
        align-items: center;
        justify-content: center;
        margin-top: 15rem;
        padding-bottom: 3px;
    }
    .name{
        text-align: center;
        color: rgb(149, 229, 245);
        font-size: 50px;margin-bottom: 10px;
        font-family: 'Times New Roman', Times, serif;
    }
    .name-text{
        text-align: center;
        color: #666;
        margin-top: 0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    @media (max-width:1200px){
        
         .mapped{
            display: flex;
            flex-flow: column;
            align-items: center;
         }
        
    }